# dependencies
node_modules
bower_components

# build folders
dist
.tmp
public/assets/bundle.js

# tool folders
.sass-cache

# editor files
*sublime*
*.swp

npm-debug.log*

package-lock.json
!**/[Pp]ackages/build/
!.axoCover/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!?*.[Cc]ache/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!gradle-wrapper.jar
$tf/
**/*.back.*
**/*.backup.*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aab
*.aar
*.ap_
*.apk
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.class
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dex
*.dotCover
*.DotSettings.user
*.e2e
*.GhostDoc.xml
*.gpState
*.ilk
*.iml
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.lcov
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.mode1v3
*.mode2v3
*.moved-aside
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pbxuser
*.pch
*.pdb
*.perspectivev3
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.snupkg
*.sublime*
*.suo
*.svclog
*.tgz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tsbuildinfo
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xccheckout
*.xcscmblueprint
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
**/.*crunch*.local.xml
**/._*
**/.apdisk
**/.AppleDB
**/.AppleDesktop
**/.AppleDouble
**/.axoCover/*
**/.buckconfig.local
**/.buckd/
**/.buckversion
**/.builds
**/.cache
**/.cache/
**/.com.apple.timemachine.donotpresent
**/.cr/personal
**/.cxx/
**/.directory
**/.DocumentRevisions-V100
**/.DS_*
**/.DS_Store
**/.DS_Store
**/.dynamodb/
**/.env
**/.env*.local
**/.env.development.local
**/.env.local
**/.env.production.local
**/.env.test
**/.env.test.local
**/.eslintcache
**/.expo
**/.externalNativeBuild
**/.fake/
**/.fakebuckversion
**/.fseventsd
**/.fuse_hidden*
**/.fusebox/
**/.gradle
**/.gradle/
**/.gradletasknamecache
**/.grunt
**/.history
**/.idea/$CACHE_FILE$
**/.idea/**/contentModel.xml
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/dataSources/
**/.idea/**/dbnavigator.xml
**/.idea/**/dictionaries
**/.idea/**/dynamic.xml
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/.idea/**/markdown-navigator-enh.xml
**/.idea/**/markdown-navigator.xml
**/.idea/**/markdown-navigator/
**/.idea/**/mongoSettings.xml
**/.idea/**/shelf
**/.idea/**/sonarIssues.xml
**/.idea/**/sonarlint/
**/.idea/**/sqlDataSources.xml
**/.idea/**/tasks.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/workspace.xml
**/.idea/assetWizardSettings.xml
**/.idea/caches
**/.idea/caches/build_file_checksums.ser
**/.idea/codestream.xml
**/.idea/dictionaries
**/.idea/gradle.xml
**/.idea/httpRequests
**/.idea/libraries
**/.idea/modules.xml
**/.idea/navEditor.xml
**/.idea/replstate.xml
**/.idea/tasks.xml
**/.idea/workspace.xml
**/.idea_modules/
**/.ionide
**/.ionide/
**/.localhistory/
**/.lock-wscript
**/.LSOverride
**/.mfractor/
**/.navigation/
**/.next
**/.nfs*
**/.node_repl_history
**/.npm
**/.ntvs_analysis.dat
**/.nuxt
**/.nyc_output
**/.out
**/.paket/paket.exe
**/.parcel-cache
**/.pnp.js
**/.rpt2_cache/
**/.rts2_cache_cjs/
**/.rts2_cache_es/
**/.rts2_cache_umd/
**/.sass-cache/
**/.serverless/
**/.Spotlight-V100
**/.storybook-out
**/.stylelintcache
**/.TemporaryItems
**/.tern-port
**/.Trash-*
**/.Trashes
**/.VolumeIcon.icns
**/.vs/
**/.vscode-test
**/.vscode/*
**/.vuepress/dist
**/.yarn-integrity
**//*.gcno
**//.pnp
**//build
**//coverage
**//node_modules
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Bb]in/
**/[Bb]uild[Ll]og.*
**/[Dd]ebug/
**/[Dd]ebugPS/
**/[Dd]ebugPublic/
**/[Ee]xpress/
**/[Ll]og/
**/[Ll]ogs/
**/[Oo]bj/
**/[Rr]elease/
**/[Rr]eleasePS/
**/[Rr]eleases/
**/[Tt]est[Rr]esult*/
**/[Ww][Ii][Nn]32/
**/__generated__
**/__pycache__/
**/_Chutzpah*
**/_NCrunch_*
**/_pkginfo.txt
**/_Pvt_Extensions
**/_ReSharper*/
**/_TeamCity*
**/_UpgradeReport_Files/
**/AppPackages/
**/artifacts/
**/ASALocalRun/
**/atlassian-ide-plugin.xml
**/AutoTest.Net/
**/Backup*/
**/BenchmarkDotNet.Artifacts/
**/bin/
**/bld/
**/bower_components
**/buck-out/
**/build/
**/build/Release
**/BundleArtifacts/
**/captures/
**/ClientBin/
**/cmake-build-*/
**/com_crashlytics_export_strings.xml
**/coverage
**/coverage*[.json, .xml, .info]
**/crashlytics-build.properties
**/crashlytics.properties
**/csx/
**/DerivedData/
**/dist
**/dist/
**/dlldata.c
**/DocProject/buildhelp/
**/DocProject/Help/*.hhc
**/DocProject/Help/*.hhk
**/DocProject/Help/*.hhp
**/DocProject/Help/*.HxC
**/DocProject/Help/*.HxT
**/DocProject/Help/html
**/DocProject/Help/Html2
**/ecf/
**/fabric.properties
**/FakesAssemblies/
**/fastlane/Preview.html
**/fastlane/readme.md
**/fastlane/report.xml
**/fastlane/screenshots
**/fastlane/test_output
**/FodyWeavers.xsd
**/freeline.py
**/freeline/
**/freeline_project_description.json
**/gen/
**/Generated\ Files/
**/Generated_Code/
**/gradle-app.setting
**/healthchecksdb
**/Icon
**/ipch/
**/jspm_packages/
**/lerna-debug.log*
**/lib-cov
**/lint/generated/
**/lint/intermediates/
**/lint/outputs/
**/lint/tmp/
**/local.properties
**/logs
**/MigrationBackup/
**/mono_crash.*
**/nCrunchTemp_*
**/Network Trash Folder
**/node_modules
**/node_modules/
**/npm-debug.log*
**/npm-debug.log*
**/nunit-*.xml
**/OpenCover/
**/orleans.codegen.cs
**/out/
**/Package.StoreAssociation.xml
**/paket-files/
**/pids
**/proguard/
**/project.fragment.lock.json
**/project.lock.json
**/psd
**/publish/
**/PublishScripts/
**/rcf/
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/ScaffoldingReadMe.txt
**/ServiceFabricBackup/
**/sketch
**/storybook-static
**/StyleCopReport.xml
**/temp/
**/Temporary Items
**/TestResult.xml
**/thumb
**/tmp/
**/typings/
**/UpgradeLog*.htm
**/UpgradeLog*.XML
**/vcs.xml
**/x64/
**/x86/
**/xcuserdata/
**/yarn-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/yarn-error.log*
**/~$*